spring.application.name=dashboardAPI
spring.datasource.url=jdbc:postgresql://localhost:5432/dashboard
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.driver-classname=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.generate-ddl=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.globally_quoted_identifiers=true

security.jwt.issuer=DashboardAPI
security.jwt.secret-key=<SECRET_KEY>
security.jwt.expiry-time-in-seconds=86400

springdoc.swagger-ui.oauth.use-basic-authentication-with-access-code-grant=true
springdoc.swagger-ui.persistAuthorization=true
springdoc.swagger-ui.disable-swagger-default-url=true

seeding.admin.username=admin
seeding.admin.password=<ADMIN-PASSWORD>

seeding.user.username=user
seeding.user.password=<USER-PASSWORD>

logging.level.com.dashboard.api.persistence.seed=DEBUG
logging.level.root=INFO